__pycache__/*
.idea/*
venv/*
checkpoints/*
loaded_models/*
results/*
wandb/*
datasets/*
results_v2/*
results_drive/*
dinov3/
outputs/*
mounting_point/*
cheat_sheets
sgcr/log/*
sgcr/__pycache__/
output_train.err
output_train.out
run_training.scrpt
logs/*
config/__pycache__/
rgb-to-x/
x-to-rgb/
sgcr/losses/__pycache__/
Depth-Anything-V2/
debug_shadow_transfer/
sgcr/datasets/__pycache__/
sgcr/factory/__pycache__/
sgcr/rgb2x/__pycache__/